@import "../../constants.less";

@font-face {
  font-family: 'Lekton';
  src: url('../assets/Lekton-Regular.ttf');
}

div.mcq {
    background-color: fade(#ffffff, 50%);
    margin: 10px 10% 10px 10%;
    padding: 25px;
    font-family: Lekton;
    p {
        font-size: 14px;
    }
    img {
        max-width: 400px;
        max-height: 130px;
        padding: 3px;
        border: solid 1px @normalColor;
    }
}
